In [216]:
import pandas as pd
df = pd.read_csv('/Users/barbatos/Desktop/project_shpion/final_csv_tab_xlsx_yaml_xml_json_pdf.csv')

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,20,21,22,23,24,25,26,27,30,31,32,33,34,35,38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [217]:
df.head(10)

,Unnamed: 0,PassengerMiddleName,BirthDate,TicketNumber,PassengerDocument,TravelDoc,ArrivalDate,ArrivalTime,Meal,Baggage_right,...,NumberFlight,ProgrammNumber,CityArrival,ArrivalAirport,DepartureCity,AirportDeparture,Passenger_Sex,Last__Name,First__Name,CardsType
0,0,IGOREVICH,1990-12-26 00:00:00,6247422701565929.0,4396 926588,4396 926588,2017-03-19,01:05,,,...,SU1180,SU 183142068,Volgograd,VOG,MOSCOW,SVO,Male,NIKOLSKII,NIKOLAY,Airlines
1,1,EVGENEVICH,1972-04-01 00:00:00,9764492390857976.0,7536 277407,7536 277407,2017-01-08,06:55,,2PC,...,SU1217,SU 441106611,Moscow,SVO,SAMARA,KUF,Male,RUMIANTSEV,EGOR,NaN
2,2,ARTEMICH,1993-10-25 00:00:00,9078250945121430.0,6793 521613,6793 521613,2017-01-10,19:00,NLML,,...,SU1461,FB 447978679,Moscow,SVO,NOVOSIBIRSK,OVB,Male,CHERNIAEV,DENIS,Airlines
3,3,FILIPPOVICH,1976-12-15 00:00:00,982769590416415.0,0383 434647,0383 434647,2017-02-27,16:00,HNML,1PC,...,SU1392,DT 179843508,Perm,PEE,MOSCOW,SVO,Male,KOLTSOV,ARTUR,NaN
4,4,ADELEVICH,2000-05-12 00:00:00,9626077660344096.0,4816 776333,89 4502970,2017-02-27,21:10,,,...,SU1204,KE 56301046,Perm,PEE,MOSCOW,SVO,Male,LUKIN,RAMIL,NaN
5,5,IGOREVNA,1978-07-03 00:00:00,5300814260791913.0,5193 160929,5193 160929,2017-01-24,04:40,RVML,0PC,...,SU1323,SU 219805094,Moscow,SVO,MURMANSK,MMK,Female,PANINA,VLADA,Airlines
6,6,ARSENEVICH,1985-12-10 00:00:00,5693876729813805.0,1008 391723,1008 391723,2017-01-04,23:20,STML,,...,SU1205,FB 101091194,Moscow,SVO,PERM,PEE,Male,GUBANOV,TIHON,Airlines
7,7,TIMOFEEVICH,1997-10-01 00:00:00,7456691735285386.0,6785 928243,6785 928243,2017-08-05,12:15,,1PC,...,SU1285,FB 670556441,Moscow,SVO,KRASNODAR,KRR,Male,KISELEV,ZAHAR,Airlines
8,8,DAVIDOVICH,1988-01-05 00:00:00,2027665403657396.75,8234 693330,8234 693330,2017-02-12,07:25,HNML,,...,SU1451,DT 155376179,Moscow,SVO,KEMEROVO,KEJ,Male,SOTNIKOV,ODISSEI,Airlines
9,9,BOGDANOVICH,1977-09-16 00:00:00,27747661911639.0,6164 103050,6164 103050,2017-01-26,09:15,,0PC,...,SU5611,DT 371352280,Vladivostok,VVO,YUZHNO,UUS,Male,BELKIN,EDUARD,NaN

In [218]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3084274 entries, 0 to 3084273
Data columns (total 39 columns):
 #   Column               Dtype
---  ------               -----
 0   Unnamed: 0           int64
 1   PassengerMiddleName  object
 2   BirthDate            object
 3   TicketNumber         object
 4   PassengerDocument    object
 5   TravelDoc            object
 6   ArrivalDate          object
 7   ArrivalTime          object
 8   Meal                 object
 9   Baggage_right        object
 10  Baggage_left         object
 11  Codeshare_not        object
 12  CodeShare_tc         object
 13  FamilyStatus         object
 14  DepartureTime        object
 15  BookingCode          object
 16  CodeShare_xl         object
 17  Sequence             float64
 18  TravelClass          object
 19  uid                  float64
 20  bonusprogramm        object
 21  activity_type        object
 22  Fare                 object
 23  Codeshare_json       object
 24  ArrivalCountry       object
 25  DepartureCountry     object
 26  NickName             object
 27  Status               object
 28  DepartDate           object
 29  NumberFlight         object
 30  ProgrammNumber       object
 31  CityArrival          object
 32  ArrivalAirport       object
 33  DepartureCity        object
 34  AirportDeparture     object
 35  Passenger_Sex        object
 36  Last__Name           object
 37  First__Name          object
 38  CardsType            object
dtypes: float64(2), int64(1), object(36)
memory usage: 917.7+ MB

In [220]:
df = df[['PassengerDocument','Last__Name','First__Name','BirthDate']]

In [221]:
df['PassengerDocument'].value_counts()

1548 113497    16
7126 372174    15
8816 864475    14
6937 933652    14
5293 500602    14
               ..
5572 367785     1
8955 687176     1
6341 533060     1
8889 399397     1
3511 319326     1
Name: PassengerDocument, Length: 73263, dtype: int64

In [222]:
no_values = df[df['PassengerDocument'].isnull()]
empty_values_data = no_values.groupby(by=['BirthDate'], dropna=True)['First__Name'].count()

In [223]:
empty_values_data.value_counts()

3     1492
4     1481
5     1432
2     1252
6     1204
7      987
8      801
1      791
9      528
10     386
11     262
12     160
13      95
14      63
15      38
16      24
17       9
18       8
19       6
21       2
20       2
23       1
Name: First__Name, dtype: int64